/* Base Application Styles */
body {
  color: #fff!important;
  background: #222!important;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.index{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.header{
    font-family: 'Patua One', cursive;
}
.nav{
    margin-bottom:15px!important;
}
.nav a{
    font-size:12px;
    color:#FFF;
}
.nav a:hover, .nav a:focus{
    color:#ccc!important;
}
